<table class="enhanced-results-table">
  <% enhanced_results.each do |field, title_link_pair| %>
    <tr>
      <th class="e-table-title">
        <%= field %>
      </th>
    </tr>
      <% title_link_pair.each do |a| %>
      <tr>
        <th class="e-table-cell">
          <% if a[1] != "" %>
            <a href="<%= a[1] %>"><%= a[0] %></a>
          <% else %>
            <p><%= a[0] %></p>
          <% end %>
        </th>
      </tr>
    <% end %>
  <% end %>
</table>
