<% if enabled?("organisations") || enabled?("people")
  return_array = []
  %w(people organisations).each do |thing|
    if enabled?(thing) && side[thing].present?
      side[thing].each do |person_or_organisation| %>
        <br><a href="<%= link_format(person_or_organisation['link']) %>"><%= person_or_organisation['title'] %></a>
      <% end
    end
  end
end%>
