<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<% content_for :content do %>
  <div id="wrapper">
    <h1 class="head-text">Search</h1><br><br>

    <div class="homepage-form-container">
      <form class="homepage-form" action="/result" method="get">

        <div class="form-group">
          <label class="form-label" for="search_term">
            Search term to compare
          </label>
          <%= text_field_tag("search_term", "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="result_count">
            Required number of results
          </label>
          <%= number_field_tag("count", "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="AB_select">
            A/B test being used
          </label>
          <select class="form-control" name="which_test" id="AB_select">
            <option value="search_match_length">Search Match Length</option>
          </select>
        </div>

        <input class="button" id="search_button" type="submit" value="Search"></input>
      </form>
    </div>
  </div>
<% end %>
