<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<% content_for :content do %>
  <noscript>
    <div class="noscript-notice">
      <p>JavaScript is turned off and this site won't function properly</p>
    </div>
  </noscript>

  <div id="wrapper">
    <h1 class="head-text">Search</h1><br><br>
    <%= render "shared/search_box" %>
  </div>
<% end %>
