@import 'govuk_admin_template';
@import 'conditionals';
@import 'design-patterns/buttons';
@import 'grid_layout';
@import 'colours';
@import 'typography';

.button {
  @include button;
  font-size: 1.4em;
  display: block;
  clear: both;
  margin-top: 20px;
}

.changeless-box .table-body,
.found-box .table-body {
  visibility: hidden;
  position: relative;
}

.changeless-box .table-body:after,
.found-box .table-body:after {
  visibility: visible;
  position: absolute;
  right: 0;
}

.changeless-box .table-body:after{
  content: 'N/A';
}

.control-indicator {
  position: relative;
  bottom: 30px;
  width: 39px;
  height: 39px;
  background: $white;
  border-radius: 100%;
  border: 2px solid $black;
  cursor: pointer;
}

.control-indicator:after {
  content: "";
  position: relative;
  color: $black;
  border: 5px solid $black;
  left: 6px;
  top: 6px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: $black;
  display: none;
}

.control-indicator:focus,
.form-control:focus {
  outline-offset: 0;
  outline: 3px solid $yellow;
  border: 2px solid $black;
}

.doc-link {
  font-size: 14px;
}

.down-box,
.down-box a:link,
.down-box a:visited {
  color: $red;
}

.e-table-cell,
.e-table-title {
  border-bottom: 1px solid $grey-3;
  padding-bottom: 3px;
  color: $black;
}

.e-table-cell {
  font-weight: normal;
}

.enhanced-checkbox {
  background-color: $grey-3;
  clear: left;
  padding: 5px;
  margin-left: 55px;
  margin-bottom: 20px;
  display: none;
}

.enhanced-labels {
  margin: 2px;
}

.form-control {
  border: 2px solid $black;
  border-radius: 0;
  font-size: 19px;
  line-height: 1.31579;
}

.form-group {
  padding-bottom: 15px;
}

.form-label {
  @include heading-24;
  display: block;
  float: left;
  clear: left;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

.form-label input:checked ~ .control-indicator:after {
  display: block;
}

.found-box .table-body:after {
  content: '++++';
}

.grid-row {
  @extend %grid-row;

  .ab-search-wrapper-left {
    clear: both;
    @include grid-column( 1 / 2 );
  }

  .ab-search-wrapper-right {
    @include grid-column( 1 / 2 );
  }
}

.head-section {
  background-color: $grey-3;
  @extend %grid-row;

  .results-table {
    @include grid-column( 3 / 3 );
  }

}

.head-info {
  @include copy-14;
  color: $grey-1;
  position: relative;
  bottom: 20px;
}

.head-info a:link {
  @include copy-14;
}

.head-info-2 {
  position: relative;
  bottom: 20px;
  font-weight: normal;
  font-size: 16px;
}

.head-section {
  background-color: $grey-3;
  @extend %grid-row;

  .heading {
    @include grid-column( 2 / 3 );
  }

  .new-search {
    @include grid-column( 1 / 3 );
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
}

.head-text {
  @include heading-36;
}

.homepage-form-container {
  margin-bottom: 20%;
  @extend %grid-row;

  .homepage-form {
    @include grid-column( 2 / 3 );
  }
}

.host-form-group,
.host-form-group-right {
  width: 49%;
}

.host-form-group {
  float: left;
}

.host-form-group-right {
  float: right;
}

.host-wrapper {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  display: none
}

.info-basic,
.info-enhanced {
  width: 39px;
  height: 39px;
  border: 2px solid $black;
  -webkit-appearance: radio;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  bottom: 4px;
  float: left;
}

.info-basic:focus,
.info-enhanced:focus {
  box-shadow: 0 0 0 3pt $yellow;
}

.noscript-notice {
  height: 50px;
  width: 100%;
  @include heading-36;
  background-color: $white;
  text-decoration: underline;
}

.radio-label {
  height: 60px;
}

.radio-tag {
  margin-left: 15px;
  position: relative;
  top: 3px;
}

.results-column {
  padding-right: 10px;
}

.results-header {
  @include heading-36;
}

.results-text {
  @include copy-16;
}

.results-text a:link {
  @include heading-24;
  text-decoration: underline;
}

.search-term {
  @include heading-27;
}

.table-column-with-padding {
  margin-right: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.table-row {
  border-bottom: solid 1px $grey-3;
  margin-top: 10px;
}

.up-box,
.up-box a:link,
.up-box a:visited,
.found-box,
.found-box a:link,
.found-box a:visited {
  color: $grass-green;
}

.up-box,
.down-box,
.changeless-box {
  text-decoration: none;
  padding: 2px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.wrapper {
  @extend %site-width-container;
  float: left;
  clear: left;
  margin-top: 60px;
}

@media only screen and (max-width: 640px) {
  .new-search {
    display: none;
  }

  .ab-search-wrapper-left {
    display: none;
  }
}
